<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Thymeleaf switch case</h1>
				<h4 th:text="${user.userName}"></h4>
            <div th:switch="${user.role}">
               <p th:case="'Teacher'">User is an administrator</p>
               <p th:case="'Student'">User is an student</p>
               <!-- * for default case -->
               <p th:case="*">User is a guest</p>
            </div>
			</div>
		</div>
	</body>
</html>
